<!-- <p>detail-product works!</p> -->
<!-- <div class="modal fade" id="modalDefaul"> -->
    <!-- <div class="modal-dialog">
       
    </div> -->
<!-- </div> -->

<div class="modal-content">
    <div class="modal-header text-center" style="text-align: center;"       >
        <h4 class="modal-title text-center" >Confimarciòn</h4>
        <!-- <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
        >
            <span aria-hidden="true">×</span>
        </button> -->
    </div>
    <div class="modal-body">
      
        <p>Esta seguro de eliminar el usuario {{user.nombre}}</p>
    </div>
    <div class="modal-footer justify-content-between">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="clickClose()"
        >
            Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="Save()">
            Aceptar
        </button>
    </div>
</div>
